* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}


.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  margin-bottom: 20px;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.header__logo-tec {
  width: 60px;
  height: 60px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin: 0 auto;
}

.data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.controls-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 10px;
}

.controls__btn {
  padding: 10px 20px;
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.conectado {
  width: 300px;
  color: green;
  font-weight: bold;
}

.desconectado {
  width: 300px;
  color: red;
  font-weight: bold;
}

.grafica-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 400px;
  margin: 0 auto;
}